# ignore git files
.git*

# ignore hidden files
.*
!.editorconfig

# ignore directories
tests/

# ignore venv when building locally
venv/
.venv/
build/
dist/
coverage/
junit-python.xml
_site/
.dockle/
.npm-cache/
node_modules/
web/assets/
.build-tools/
config/
connectors/**/bin/
connectors/**/obj/
connectors/**/TestResults/
