# these requirements must support python 2.7
# it is doubtful that Plex will ever update to Python 3+
flask==1.1.4;python_version<"3"
flask-babel==1.0.0;python_version<"3"
future==0.18.3
plexapi-backport[alert]==4.15.4  # custom python-plexapi supporting python 2.7
polib==1.2.0;python_version<"3"
requests==2.27.1;python_version<"3"  # 2.27 is last version supporting Python 2.7
schedule==0.6.0;python_version<"3"
typing==3.10.0.0
werkzeug==1.0.1;python_version<"3"

# youtube_dl is not capable or willing to create a new release so have to install from git
# youtube_dl==2021.12.17
# dependabot cannot update this
# git+https://github.com/ytdl-org/youtube-dl.git@26035bde46c0acc30dc053618451d9aeca4b7709#egg=youtube_dl
https://github.com/ytdl-org/youtube-dl/archive/26035bde46c0acc30dc053618451d9aeca4b7709.zip#egg=youtube_dl

# required for websocket to pass tests
pysocks==1.7.1;python_version<"3"
win-inet-pton==1.1.0;python_version<"3" and platform_system=="Windows"
