# these requirements must support python 2.7
# it is doubtful that Plex will ever update to Python 3+
flask==1.1.4;python_version<"3"
flask-babel==2.0.0;python_version<"3"
future==0.18.3
polib==1.2.0;python_version<"3"
requests==2.27.1;python_version<"3"  # 2.27 is last version supporting Python 2.7
typing==3.10.0.0
werkzeug==1.0.1;python_version<"3"

# youtube_dl is not capable or willing to create a new release so have to install from git
# youtube_dl==2021.12.17
# unknown if dependabot can update this
# git+https://github.com/ytdl-org/youtube-dl.git@26035bde46c0acc30dc053618451d9aeca4b7709#egg=youtube_dl
https://github.com/ytdl-org/youtube-dl/archive/26035bde46c0acc30dc053618451d9aeca4b7709.zip#egg=youtube_dl

# custom python-plexapi supporting python 2.7
# this is used to upload theme songs since Movie agents cannot correctly do so
# git+https://github.com/reenignearcher/python-plexapi.git@master-py2.7#egg=plexapi
https://github.com/reenignearcher/python-plexapi/archive/master-py2.7.zip#egg=plexapi

# websocket-client is required for plexapi alert listener
websocket-client==0.59.0;python_version<"3"
