babel==2.16.0
configobj==5.0.8
cryptography==43.0.0
flask==3.0.3
flask-babel==4.0.0
flask-wtf==1.2.1
furo==2024.8.6
future==1.0.0
myst-parser==4.0.0
numpydoc==1.7.0
pillow==9.5.0
plexapi[alert]==4.15.15
polib==1.2.0
pyopenssl==24.2.1
pystray==0.19.5
requests==2.32.3
requests-cache==1.2.1
schedule==1.2.2
six==1.16.0  # TODO: probably won't need this
sphinx==7.4.7
werkzeug==3.0.3
yt-dlp==2024.8.6
