<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        {% if title %}
            <title>Themerr-plex - {{ title }}</title>
        {% else %}
            <title>Themerr-plex</title>
        {% endif %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/app.css') }}">

        {% block head %}{% endblock head %}
    </head>

    <body class="d-flex flex-column h-100 bg-dark-gray">
        {% block modals %}{% endblock %}
        <main class="flex-shrink-0 overflow-hidden">
            <!-- Include navbar -->
            {% include 'navbar.html' %}

            {% if ui_config['BACKGROUND_VIDEO'] %}
                <div class="backgroundVideoContainer">
                    <video autoplay muted loop id="backgroundVideo" disablePictureInPicture="true" controlsList="nodownload">
                        <source src="{{ url_for('static', filename='videos/Retro Delorean.mp4') }}" type="video/mp4">
                    </video>

                    <div class="backgroundVideoOverlay"></div>
                </div>
            {% endif %}

            <!-- The page template -->
            {% block content %}{% endblock %}
        </main>

        <!-- JS -->
        <script type="text/javascript" src="https://app.lizardbyte.dev/js/discord.js"></script>
        <script defer src="{{ url_for('static', filename='assets/app.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>

</html>
