{% extends 'base.html' %}
{% block modals %}
{% endblock modals %}

{% block content %}
    <div id="wrapper" class="sidebar-expanded">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sidebar-expanded shadow"><!-- d-* hides the Sidebar in smaller devices. Its items can be kept on the Navbar 'Menu' -->
            <!-- Bootstrap List Group -->
            <ul class="list-group list-group-flush">
                <a href="#" data-toggle="sidebar-collapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center no-hover border-0">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <button class="btn btn-outline-light">
                            <i id="collapse-x" data-lucide="x"></i><i id="collapse-menu" class="d-none" data-lucide="menu"></i>
                        </button>
                    </div>
                </a>
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center border-0">
                    <small>{{ title }}</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu -->
                {% for key in config_spec %}
                    {% if config_spec[key]['type'] == 'section' %}
                        <a href="#{{ key.lower() }}" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start border-0">
                            <div class="sidebar-item d-flex w-100 justify-content-start align-items-center">
                                <i data-lucide="{{ config_spec[key]['icon'] }}" class="mx-3"></i>
                                <span class="invisible">-</span> {# this invisible text keeps the sidebar spacing the same when collapsing/expanding #}
                                <span class="menu-collapsed">{{ config_spec[key]['name'] }}</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="sidebar-expanded">
            <div class="container px-5 my-5">

                <form id="configForm" data-csrf-token="{{ csrf_token() }}" enctype="multipart/form-data" method="post">
                    {%- for key in config_spec -%}
                        <h3 class="offset-anchor mb-3" id="{{ key.lower() }}">{{ config_spec[key]['name'] }}</h3>
                        <hr>
                        {%- for setting in config_spec[key] -%}
                            {%- set setting_disabled = '' -%}
                            {%- if config_spec[key][setting]['locked'] == True -%}
                                {%- set setting_disabled = 'disabled' -%}
                            {%- endif -%}

                            {%- set setting_tag = '' -%}
                            {%- if config_spec[key][setting]['beta'] == True -%}
                                {%- set setting_tag = 'beta-setting' -%}
                            {%- elif config_spec[key][setting]['advanced'] == True -%}
                                {%- set setting_tag = 'advanced-setting' -%}
                            {%- endif -%}

                            {%- set pattern = config_spec[key][setting]['pattern'] -%}

                            {%- set extra_class = 'col-md-8' -%}
                            {%- if config_spec[key][setting]['extra_class'] -%}
                                {%- set extra_class = config_spec[key][setting]['extra_class'] -%}
                            {%- endif -%}

                            {%- if config_spec[key][setting]['type'] == 'boolean' -%}
                                {%- set checkbox_checked = '' -%}
                                {%- if config_settings[key][setting] == True -%}
                                    {%- set checkbox_checked = 'checked' -%}
                                {%- endif -%}
                                <div class="checkbox {{ setting_tag }}">
                                    <div class="{{ extra_class }}">
                                        <input class="form-check-input" type="checkbox" category="{{ key }}" id="{{ setting }}" aria-describedby="{{ setting.lower() }}-help" {{ checkbox_checked }} {{ setting_disabled }}>
                                    </div>
                                    <label class="form-check-label" for="{{ setting }}">
                                        {{ config_spec[key][setting]['name'] }}
                                    </label>
                                    <div id="{{ setting.lower() }}-help" class="form-text">{{ config_spec[key][setting]['description'] }}</div>
                                </div>
                            {%- endif -%}

                            {%- if config_spec[key][setting]['type'] == 'integer' or config_spec[key][setting]['type'] == 'float' -%}
                                <div class="form-group {{ setting_tag }}">
                                    <label for="{{ setting }}" class="form-label">{{ config_spec[key][setting]['name'] }}</label>
                                    <div class="{{ extra_class }}">
                                        <input class="form-control" type="number" step="{{ '1' if config_spec[key][setting]['type'] == 'integer' else 'any' }}" id="{{ setting }}" category="{{ key }}" placeholder="{{ config_spec[key][setting]['default'] }}" value="{{ config_settings[key][setting] }}" aria-describedby="{{ setting.lower() }}-help"{% if config_spec[key][setting]['min'] is number %} min="{{ config_spec[key][setting]['min'] }}"{% endif %}{% if config_spec[key][setting]['max'] is number %} max="{{ config_spec[key][setting]['max'] }}"{% endif %} {{ setting_disabled }}>
                                    </div>
                                    <div id="{{ setting.lower() }}-help" class="form-text">{{ config_spec[key][setting]['description'] }}</div>
                                </div>
                            {%- endif -%}

                            {%- if config_spec[key][setting]['type'] == 'string' -%}
                                {%- set input_type = '' -%}
                                {%- if config_spec[key][setting]['mask'] == True -%}
                                    {%- set input_type = str('type=password') -%}
                                {%- endif -%}

                                <div class="form-group {{ setting_tag }}">
                                    <label for="{{ setting }}" class="form-label">
                                        {{ config_spec[key][setting]['name'] }}
                                    </label>
                                    <div class="{{ extra_class }}">
                                        <input {{ input_type }} class="form-control" id="{{ setting }}" category="{{ key }}" placeholder="{{ config_spec[key][setting]['default'] }}" value="{{ config_settings[key][setting] }}" aria-describedby="{{ setting.lower() }}-help"{% if pattern %} pattern="{{ pattern }}"{% endif %} {{ setting_disabled }}>

                                        {%- if config_spec[key][setting]['button_directory'] -%}
                                            <!-- Todo: Add button to open directory browser -->
                                        {%- endif -%}
                                    </div>

                                    <div id="{{ setting.lower() }}-help" class="form-text">{{ config_spec[key][setting]['description'] }}</div>
                                </div>
                            {%- endif -%}

                            {%- if config_spec[key][setting]['type'] == 'option' -%}
                                <div class="form-group {{ setting_tag }}">
                                    <label for="{{ setting }}" class="form-label">
                                        {{ config_spec[key][setting]['name'] }}
                                    </label>
                                    <div class="{{ extra_class }}">
                                        <select class="{{ extra_class }} form-select" id="{{ setting }}" category="{{ key }}" aria-describedby="{{ setting.lower() }}-help" {{ setting_disabled }}>
                                            {%- for option in config_spec[key][setting]['options'] -%}
                                                {%- set option_index = config_spec[key][setting]['options'].index(option) -%}

                                                {%- set option_selected = '' -%}
                                                {%- if config_settings[key][setting] == option -%}
                                                    {%- set option_selected = 'selected' -%}
                                                {%- endif -%}
                                                <option {{ option_selected }} value="{{ config_spec[key][setting]['options'][option_index] }}">{{ config_spec[key][setting]['option_names'][option_index] }}</option>
                                            {%- endfor -%}
                                        </select>
                                    </div>
                                    <div id="{{ setting.lower() }}-help" class="form-text">{{ config_spec[key][setting]['description'] }}</div>
                                </div>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}

                    <button id="save-button" type="button" class="btn btn-danger" disabled>{{ _('Save') }}</button>
                </form>
            </div>
        </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->
{% endblock content %}
