        <nav id="nav-container" class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand fw-bold" href="/">
                        <img
                            src="{{ url_for('static', filename='images/icon.png') }}"
                            height="45"
                            alt=""> Themerr-plex
                    </a>
                </div>
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <!-- Navbar Right Side -->
                <div id="navbarToggle" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto fw-bold">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_donate" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-fw fa-donate"></i> {{ _('Donate') }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://github.com/sponsors/LizardByte"
                                       target="_blank">
                                    <i class="fa-regular fa-fw fa-heart"></i> {{ _('GitHub Sponsors') }}</a></li>
                                <li><a class="dropdown-item" href="https://mee6.xyz/m/804382334370578482"
                                       target="_blank">
                                    <i class="fa-solid fa-fw fa-face-surprise"></i> MEE6</a></li>
                                <li><a class="dropdown-item" href="https://www.patreon.com/LizardByte"
                                       target="_blank">
                                    <i class="fa-brands fa-fw fa-patreon"></i> Patreon</a></li>
                                <li><a class="dropdown-item"
                                       href="https://www.paypal.com/paypalme/ReenigneArcher"
                                       target="_blank">
                                    <i class="fa-brands fa-fw fa-paypal"></i> PayPal</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_support" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-fw fa-exclamation-triangle"></i> {{ _('Support') }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="https://themerr-plex.readthedocs.io/"
                                       target="_blank">
                                    <i class="fa-solid fa-fw fa-file-lines"></i> {{ _('Docs') }}</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="https://app.lizardbyte.dev/support"
                                       target="_blank">
                                    <i class="fa-solid fa-fw fa-circle-question"></i> {{ _('Support Center') }}</a></li>
                            </ul>
                        </li>

                        <li><a class="nav-item nav-link {% if title.lower() == 'home' %}active{% endif %}"
                               href="/">
                            <i class="fa-solid fa-fw fa-house"></i> {{ _('Home') }}
                        </a></li>
                    </ul>
                </div>
            </div>
        </nav>
